{% extends "base.html"%}

{% block content %}

<main class="container rounded-3" style="background-color: #f2c4e69a;">
    
    <h1 class="text-center" style="font-family: 'Abril Fatface', system-ui;">ANIMALES EXOTICOS</h1>
    <hr style="border: 2px solid #b338b5ff;">

    <div class="row g-4">

        <div class="col-md-6">
            <div class="card" style="background-color: #ffffffa1;">
                <img src="...." class="card-img-top" alt="Imagen 1">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Tigre de Bengala blanco</h5>
                    <p class="card-text" style="font-family: 'Bitcount Ink', system-ui;">El tigre de Bengala blanco es una variante del tigre de Bengala que presenta un pelaje blanco con rayas negras. Esta coloración inusual se debe a una mutación genética que afecta la producción de pigmento en el pelaje del animal. Los tigres blancos son extremadamente raros en la naturaleza y se encuentran principalmente en cautiverio.</p>
                </div>  
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="background-color: #ffffffa1;">
                <img src="...." class="card-img-top" alt="Imagen 2">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Okapi</h5>
                    <p class="card-text" style="font-family: 'Bitcount Ink', system-ui;">El okapi es un mamífero herbívoro nativo de las selvas tropicales de la República Democrática del Congo en África Central. Aunque se parece a una mezcla entre una jirafa y una cebra, el okapi es en realidad el pariente más cercano de la jirafa. Tiene un cuerpo robusto, patas largas y un pelaje marrón oscuro con rayas blancas en las patas traseras y los flancos.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="background-color: #ffffffa1;">
                <img src="...." class="card-img-top" alt="Imagen 3">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Axolote (versión acuática)</h5>
                    <p class="card-text" style="font-family: 'Bitcount Ink', system-ui;"></p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="background-color: #ffffffa1;">
                <img src="...." class="card-img-top" alt="Imagen 4">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Pez mandarín</h5>
                    <p class="card-text" style="font-family: 'Bitcount Ink', system-ui;"></p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="background-color: #ffffffa1;">
                <img src="...." class="card-img-top" alt="Imagen 5">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Guacamayo jacinto</h5>
                    <p class="card-text" style="font-family: 'Bitcount Ink', system-ui;"></p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="background-color: #ffffffa1;">
                <img src="...." class="card-img-top" alt="Imagen 7">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Cálao de casco</h5>
                    <p class="card-text" style="font-family: 'Bitcount Ink', system-ui;">El cálao de casco (Rhinoplax vigil) es un ave de gran tamaño perteneciente a la familia Bucerotidae, nativa de la península de Malaca y las islas de Sumatra y Borneo. Este ave es conocida por su distintivo casco en la cabeza, que representa aproximadamente el 11% de su peso total, que puede alcanzar hasta 3 kg.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="background-color: #ffffffa1;">
                <img src="...." class="card-img-top" alt="Imagen 6">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Rana dardo venenosa</h5>
                    <p class="card-text" style="font-family: 'Bitcount Ink', system-ui;"></p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="background-color: #ffffffa1;">
                <img src="...." class="card-img-top" alt="Imagen 8">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Salamandra gigante china</h5>
                    <p class="card-text" style="font-family: 'Bitcount Ink', system-ui;"></p>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}