{% extends "base.html"%}

{% block content %}
<h2 class="text-center" style="font-family: 'Cinzel', system-ui;">ANIMALES EXOTICOS</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4" style="background-color: #ffffffa1;">
                <img src="https://www.quever.news/u/fotografias/m/2023/2/16/f608x342-1236_2023216153457.jpg" class="card-img-top" alt="Imagen 1">
                <div class="card-body">
                    <h5 class="card-title">Camaleón</h5>
                    <p class="card-text">El camaleón es conocido por su capacidad para cambiar de color y su lengua larga y pegajosa que utiliza para atrapar insectos.</p>
                </div>  
            </div>
         </div>
    </div>
</div>
{% endblock %}