{% extends "base.html"%}

{% block content %}

<main class="container rounded-3" style="background-color: #f2c4e69a;">
    
    <h1 class="text-center" style="font-family: 'Abril Fatface', system-ui;">ANIMALES EXOTICOS</h1>
    <hr style="border: 2px solid #b338b5ff;">

    <div class="row g-4">

        <div class="col-md-6">
            <div class="card" style="background-color: #ffffffa1;">
                <img src="...." class="card-img-top" alt="Imagen 1">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Tigre de Bengala blanco</h5>
                </div>  
            </div>
        </div>
        

    </div>
</main>
{% endblock %}