{% extends "base.html"%}

{% block content %}

<main class="container rounded-3" style="background-color: #f2c4e69a;">
    
    <h1 class="text-center" style="font-family: 'Abril Fatface', system-ui;">ANIMALES EXOTICOS</h1>
    <hr style="border: 2px solid #b338b5ff;">

    <div class="row g-4">

        <div class="col-md-6">
            <div class="card h-100" style="background-color: #edade5ff;">
                <img src="{{ url_for('static', filename='tigre.jpg') }}" class="card-img-top" alt="Imagen 1">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Tigre de Bengala blanco:</h5>
                    <p class="card-text">El tigre de Bengala blanco es una variante del tigre de Bengala que presenta un pelaje blanco con rayas negras. Esta coloración inusual se debe a una mutación genética que afecta la producción de pigmento en el pelaje del animal. Los tigres blancos son extremadamente raros en la naturaleza y se encuentran principalmente en cautiverio.</p>
                </div>  
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100" style="background-color: #edade5ff;">
                <img src="{{ url_for('static', filename='okapi.jpg')}}" class="card-img-top" alt="Imagen 2">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Okapi:</h5>
                    <p class="card-text">El okapi es un mamífero herbívoro nativo de las selvas tropicales de la República Democrática del Congo en África Central. Aunque se parece a una mezcla entre una jirafa y una cebra, el okapi es en realidad el pariente más cercano de la jirafa. Tiene un cuerpo robusto, patas largas y un pelaje marrón oscuro con rayas blancas en las patas traseras y los flancos.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100" style="background-color: #edade5ff;">
                <img src="{{ url_for('static', filename='ajolote.jpg')}}" class="card-img-top" alt="Imagen 3">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Axolote (versión acuática):</h5>
                    <p class="card-text">
                        El axolote es un anfibio endémico de México, famoso por su capacidad de regenerar partes de su cuerpo como extremidades, ojos e incluso parte del corazón. Vive en los lagos de Xochimilco y Chalco, aunque está en peligro crítico de extinción debido a la contaminación y pérdida de su hábitat. Es símbolo de la cultura mexicana y de la ciencia por su extraordinaria biología.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100" style="background-color: #edade5ff;">
                <img src="{{ url_for('static', filename='pezmandarin.jpg')}}" class="card-img-top" alt="Imagen 4">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Pez mandarín:</h5>
                    <p class="card-text">
                        El pez mandarín es uno de los peces más coloridos del océano, con tonos azul eléctrico, verde, naranja y amarillo. Habita en los arrecifes del Pacífico y es muy popular en acuarios exóticos por su belleza. A pesar de su apariencia llamativa, es pequeño y pacífico, y se alimenta principalmente de pequeños crustáceos y microorganismos.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100" style="background-color: #edade5ff;">
                <img src="{{ url_for('static', filename='jacinto.jpg')}}" class="card-img-top" alt="Imagen 5">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Guacamayo jacinto:</h5>
                    <p class="card-text">El guacamayo jacinto es el loro más grande del mundo y destaca por su brillante color azul cobalto. Vive en las selvas de Sudamérica, especialmente en Brasil, Bolivia y Paraguay. Es un ave inteligente y social, que forma fuertes lazos con su pareja y puede vivir más de 50 años. Lamentablemente, está amenazado por el comercio ilegal y la destrucción de su hábitat.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100" style="background-color: #edade5ff;">
                <img src="{{ url_for('static', filename='miedo.jpg')}}" class="card-img-top" alt="Imagen del ave calao de casco">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Cálao de casco:</h5>
                    <p class="card-text">El cálao de casco (Rhinoplax vigil) es un ave de gran tamaño perteneciente a la familia Bucerotidae, nativa de la península de Malaca y las islas de Sumatra y Borneo. Este ave es conocida por su distintivo casco en la cabeza, que representa aproximadamente el 11% de su peso total, que puede alcanzar hasta 3 kg.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100" style="background-color: #edade5ff;">
                <img src="{{ url_for('static', filename='ranadorada.jpg')}}" class="card-img-top" alt="Imagen 6">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Rana dardo venenosa:</h5>
                    <p class="card-text">La rana dardo venenosa es una pequeña rana de colores brillantes que vive en las selvas tropicales de Centro y Sudamérica. Su piel produce un potente veneno que las comunidades indígenas usaban para envenenar dardos, de ahí su nombre. Aunque su aspecto es hermoso, su toxicidad es una defensa natural contra depredadores.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100" style="background-color: #edade5ff;">
                <img src="{{ url_for('static', filename='salamandaragigante.jpg')}}" class="card-img-top" alt="Imagen 8">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Cinzel', system-ui;">Salamandra gigante china:</h5>
                    <p class="card-text">La salamandra gigante china es el anfibio más grande del mundo, pudiendo alcanzar hasta 1.8 metros de longitud. Habita en ríos y arroyos de montaña en China y es una especie muy antigua, considerada un fósil viviente. Se encuentra en grave peligro de extinción debido a la caza y la contaminación, aunque es muy valorada en la cultura asiática como símbolo de longevidad.</p>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}