{% extends "base.html" %}

{% block content %}
 <main class="container rounded-3" style="background-color: #f2c4e69a;">
    <h1 class="text-center" style="font-family: 'Abril Fatface', system-ui;">AUTOS ANTIGUOS</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="border-start border-3 border-primary ps-3">

                <div class="mb-5">
                    <div class="card shadow-ms">
                        <div class="card-body" style="background-color: #edade5ff;">
                            <h5 class="card-title">1769: Fardier a Vapor de Nicolas-Joseph Cugnot</h5>
                            <p class="card-text">algol</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

{% endblock %}