{% extends "base.html" %}

{% block content %}
 <main class="container rounded-3" style="background-color: #f2c4e69a;">
    <h1 style="font-family:'Cinzel', serif;" class="text-center">Museo de Autos Clásicos</h1>
<div class="row g-2">

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://rpmweb.ca/medias/_1200x630_crop_center-center_82_none/ffa16162329e5810b7abc5838d3ab1da.jpg?mtime=1642536657" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">1769: Fardier a Vapor</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto1">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photos/8377909/Imagen3.jpg?1478478092" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1784: Carro de Vapor</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto2">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://s.yimg.com/uu/api/res/1.2/7JP9NYG_S7q2iWjJlJG0IA--/aD01MjE7dz02MTA7c209MTthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en-US/blogs/motoramic/Lenoirgas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1860: Motor de Combustión Interna</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto3">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://preview.redd.it/2a9lle55mhd81.jpg?width=1080&crop=smart&auto=webp&s=bfab1463dc0add70348c0a345dab266d87d8ff36" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1885: Benz Patent-Motorwagen</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto4">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://tse4.mm.bing.net/th/id/OIP.4MfHV1sODuorRhzY0Le1zwHaFB?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1886: Vehículo Daimler</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto5">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://th.bing.com/th/id/R.575b11c44da3b3083218ef0dfc8c69aa?rik=ZKgYkx%2fLj3Orig&pid=ImgRaw&r=0" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1903: Ford Modelo A </h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto6">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://inspirationseek.com/wp-content/uploads/2014/12/Ford-Model-T-1908-Classic-Car-Pictures.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1908: Ford Modelo T</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto7">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://i.pinimg.com/originals/87/cc/46/87cc46832ba6977015e40e5fc5f7a1b7.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1922-1939: Austin 7</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto8">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://tse2.mm.bing.net/th/id/OIP.vc2K56VwXB_rQsPXBXzkUgHaDt?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1924-1929: Bugatti Type 35</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto9">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="auto1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">1769: Fardier à vapeur – Nicolas-Joseph Cugnot</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Este vehículo francés fue el primero en moverse por sí mismo sin tracción animal. Funcionaba con vapor y estaba diseñado para transportar artillería pesada. Aunque era lento y difícil de controlar, marcó el inicio de la movilidad mecánica. Su diseño incluía una caldera frontal y tres ruedas, lo que lo hacía inestable pero revolucionario.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 </div>

 <div class="modal fade" id="auto2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">1784: Carro de vapor – William Murdoch</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Murdoch, ingeniero escocés, creó un modelo más pequeño y experimental que funcionaba con vapor. Aunque no llegó a producción, su trabajo inspiró a otros inventores británicos y sentó las bases para los trenes y vehículos a vapor del siglo XIX.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="auto3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">1860: Motor de combustión interna – Étienne Lenoir</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lenoir desarrolló un motor que funcionaba con gas y aire, sin compresión previa. Aunque no era muy eficiente, fue el primero en ser comercializado y utilizado en vehículos pequeños. Su invención abrió la puerta a los motores modernos.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="auto4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">1885: Benz Patent-Motorwagen – Karl Benz</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Considerado el primer automóvil real, tenía tres ruedas y un motor de gasolina de cuatro tiempos. Benz lo probó en Mannheim, Alemania, y su esposa Bertha Benz hizo el primer viaje largo en automóvil, demostrando su utilidad. Este modelo es el antecesor directo de los autos actuales.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="auto5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">1885: Benz Patent-Motorwagen – Karl Benz</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Considerado el primer automóvil real, tenía tres ruedas y un motor de gasolina de cuatro tiempos. Benz lo probó en Mannheim, Alemania, y su esposa Bertha Benz hizo el primer viaje largo en automóvil, demostrando su utilidad. Este modelo es el antecesor directo de los autos actuales.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="auto6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">1886: Vehículo Daimler – Gottlieb Daimler y Wilhelm Maybach</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Daimler y Maybach crearon un vehículo con motor de combustión interna y llantas de acero, más parecido a los coches modernos. Su motor era compacto y podía adaptarse a diferentes tipos de vehículos, incluyendo barcos y tranvías.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="auto7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">1903: Ford Modelo A – Henry Ford</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Primer modelo producido por la recién fundada Ford Motor Company. Aunque no fue tan exitoso como el Modelo T, sentó las bases para la producción en serie y la democratización del automóvil en Estados Unidos.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="auto8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">1908: Ford Modelo T – Henry Ford</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Este modelo cambió el mundo. Gracias a la cadena de montaje, Ford logró producir autos a gran escala y a bajo costo. El Modelo T era robusto, fácil de reparar y accesible para la clase media. Se convirtió en símbolo de movilidad y progreso.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="auto9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">1914–1917: Dattogo – Japón</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Este vehículo fue el primer automóvil completamente japonés. Fabricado en Tokio, tenía dos cilindros y 10 caballos de fuerza. Representó el inicio de la industria automotriz japonesa, que décadas después dominaría el mercado global.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

</main>

{% endblock %}