{% extends "base.html" %}

{% block content %}
 <main class="container rounded-3" style="background-color: #f2c4e69a;">
    <h1 style="font-family:'Cinzel', serif;" class="text-center">Museo de Autos Clásicos</h1>
<div class="row g-2">

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://rpmweb.ca/medias/_1200x630_crop_center-center_82_none/ffa16162329e5810b7abc5838d3ab1da.jpg?mtime=1642536657" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">1769: Fardier a Vapor</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto1">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photos/8377909/Imagen3.jpg?1478478092" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1784: Carro de Vapor</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto2">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://s.yimg.com/uu/api/res/1.2/7JP9NYG_S7q2iWjJlJG0IA--/aD01MjE7dz02MTA7c209MTthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en-US/blogs/motoramic/Lenoirgas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1860: Motor de Combustión Interna</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto3">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://preview.redd.it/2a9lle55mhd81.jpg?width=1080&crop=smart&auto=webp&s=bfab1463dc0add70348c0a345dab266d87d8ff36" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1885: Benz Patent-Motorwagen</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto4">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://tse4.mm.bing.net/th/id/OIP.4MfHV1sODuorRhzY0Le1zwHaFB?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1886: Vehículo Daimler</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto5">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://th.bing.com/th/id/R.575b11c44da3b3083218ef0dfc8c69aa?rik=ZKgYkx%2fLj3Orig&pid=ImgRaw&r=0" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1903: Ford Modelo A </h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto6">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://inspirationseek.com/wp-content/uploads/2014/12/Ford-Model-T-1908-Classic-Car-Pictures.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1908: Ford Modelo T</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto7">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://i.pinimg.com/originals/87/cc/46/87cc46832ba6977015e40e5fc5f7a1b7.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1922-1939: Austin 7</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto8">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://tse2.mm.bing.net/th/id/OIP.vc2K56VwXB_rQsPXBXzkUgHaDt?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1924-1929: Bugatti Type 35</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto10">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://tse3.mm.bing.net/th/id/OIP.t-UG9lfoYlqerNyE8zPKpQHaFE?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1932-1939: Alvis Speed 20</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto11">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://www.supercars.net/blog/wp-content/uploads/2024/02/Bugatti-Type-57-1934-1940-1024x665.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1934-1940: Bugatti Type 57</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto12">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://tse3.mm.bing.net/th/id/OIP.XR04z4qtx3pDwby54rtM4QHaFj?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1936-1955: MG Serie T</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto13">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://tse3.mm.bing.net/th/id/OIP.Sirn37VYoFPGEBpb2GL9agHaEn?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1947-1958: Standard Vanguard</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto1">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://tse1.mm.bing.net/th/id/OIP.Ccz6CvAExu53YmwScNNu5wHaE8?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1948-1971: Morris Minor</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto1">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card h-100" style="">
        <img src="https://cdn.dealeraccelerate.com/coyote/1/1088/94183/1920x1440/1953-chevrolet-bel-air" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">1953-1971: Chevrolet Bel Air</h5>
            <div class="text-center">
            <a href="#" class="btn" style="background-color: #ef27caff" data-bs-toggle="modal" data-bs-target="#auto1">Ver mas</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 </div>

 <div class="modal fade" id="auto1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

</main>

{% endblock %}