{% extends "base.html" %} {% block content %}
<body>
  <main class="container">
    <form
      method="POST"
      action="{{ url_for('isesion') }}"
      class="bg-white p-4 rounded shadow"
      style="max-width: 500px; margin: auto"
    >
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}

      <div class="mb-3">
        <label class="form-label">Correo o usuario</label>
        <input type="text" name="usuario" class="form-control" required />
      </div>

      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input
          type="password"
          name="contraseña"
          class="form-control"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        style="background-color: #f70cdcff"
      >
        Iniciar sesion
      </button>
      <div class="text-center mt-3">
        <a href="{{url_for('registro')}}">¿No tienes una cuenta?</a>
      </div>
    </form>
  </main>
</body>
{% endblock %}
